*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e3eb;
}

.container {
    position: relative;
    background: #fff;
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    padding: 10px 20px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.display{
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    border:none;
    font-size: 25px;
    color: rgb(33, 18, 18);
    text-align: right;
    pointer-events: none;

}

.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4 , 1fr);
}

.buttons button{
    padding: 12px 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
}

.buttons button:active{
    transform: scale(0.99);
}

.operator{
    color: #2f9fff;
    font-weight: 600;
}
